@model IEnumerable<Route>
@{
    Layout = "_Layout";
    ViewData["Title"] = "All Routes";
}
@if (Model != null && Model.Count() > 0)
{
    <h1>All Routes</h1>
    <a asp-action="GetRouteID" class="btn btn-sm btn-secondary">Search</a>
    <a asp-action="AddRoute" class="btn btn-sm btn-outline-secondary">Add</a>

    <table class="table table-striped table-bordered table-hover">
        <thead>
            <tr>
                <th>Route ID</th>
                <th>Route Name</th>
                <th>Route Length</th>
                <th>Route Pay Per KM</th>
                <th>Update</th>
                <th>Delete</th>
            </tr>
        </thead>
        @foreach(var item in Model)
        {
            <tr>
                <td>@item.RouteID</td>
                <td>@item.route_name</td>
                <td>@item.r_length</td>
                <td>@item.r_pay_per_km</td>
                <td><a asp-action="UpdateRoute" asp-route-id="@item.RouteID" class="btn btn-sm btn-secondary">Update</a></td>
                <td><a asp-action="DeleteRoute" asp-route-id="@item.RouteID" class="btn btn-sm btn-danger">Delete</a></td>
            </tr>
        }

    </table>
}
